@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --chart-income: 173 58% 39%;
    --chart-expense: 12 76% 61%;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --chart-income: 173 58% 39%;
    --chart-exponse: 12 76% 61%;

    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border focus:ring-0 focus:ring-offset-0 focus:outline-none;
  }
  html {
    @apply min-h-full flex flex-col antialiased bg-background text-foreground font-sans relative overscroll-none overflow-hidden;
  }
  body {
    @apply grow flex flex-col font-sans bg-background text-foreground relative overscroll-none overflow-hidden;
  }

  #root {
    @apply grow flex flex-col overflow-hidden;
  }
}

@layer utilities {
  .debug {
    @apply outline-dashed outline-red-500/75;
  }

  .scrollGradient {
    background: linear-gradient(#ffffff 33%, rgba(255, 255, 255, 0)),
      linear-gradient(rgba(255, 255, 255, 0), #ffffff 66%) 0 100%,
      radial-gradient(
        farthest-side at 50% 0,
        rgba(222, 222, 222, 0.5),
        rgba(0, 0, 0, 0)
      ),
      radial-gradient(
          farthest-side at 50% 100%,
          rgba(222, 222, 222, 0.5),
          rgba(0, 0, 0, 0)
        )
        0 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 63px, 100% 63px, 100% 21px, 100% 21px;
  }

  .dark .scrollGradient {
    background: linear-gradient(#09090b 33%, rgba(9, 9, 11, 0)),
      linear-gradient(rgba(9, 9, 11, 0), #09090b 66%) 0 100%,
      radial-gradient(
        farthest-side at 50% 0,
        rgba(28, 28, 28, 0.5),
        rgba(0, 0, 0, 0)
      ),
      radial-gradient(
          farthest-side at 50% 100%,
          rgba(28, 28, 28, 0.5),
          rgba(0, 0, 0, 0)
        )
        0 100%;
    background-color: #09090b;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 63px, 100% 63px, 100% 21px, 100% 21px;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .debug-all,
  .debug-all * {
    @apply outline-dashed outline-red-500/75;
  }

  .scroll-shadow {
    transition-property: box-shadow;
    transition-duration: 0.25s;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px 0px;
    clip-path: inset(0px 0px -10px);
  }

  .dark .scroll-shadow {
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 14px 0px;
    border-bottom: 1px solid theme("colors.zinc.900");
  }
}

*:not(input):not(select):not(code):not(textarea):not([contenteditable]) {
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
